.navigation {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: #000000;
  opacity: 0.3;
  z-index: 2;
}

.navigation__conteiner {
  min-height: 100%;
  width: 520px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: space-between;
}

.navigator__block {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navigation__button {
  background: url(../../images/close_button.svg);
  width: 32px;
  height: 32px;
  background-size: cover;
  align-self: flex-end;
  border: none;
  margin: 22px 22px 105px 0;
  padding: 0;
  transition: transform 0.4s;
}

.navigation__button:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.navigation__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 0 0 0;
}

.navigation__link {
  padding: 0 0 4px;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  box-sizing: border-box;
  transition: box-shadow 0.1s;
  color:#000000;
}

.navigation__link:active {
  color: black;
}

.navigation__link:visited {
  color: black;
}

.navigation__link:hover {
  box-shadow: 0 2px 0 0 black;
}

.navigator__button_account {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  height: 32px;
  background: #F9F9F9;
  border-radius: 20px; 
  transition: background-color 0.3s;
  color:#000000;
}

.navigator__button_account:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.navigator__button_account:active {
  color:#000000;
}

.navigator__button_account:visited {
  color:#000000;
}
@media screen and (max-width: 767px) {
  .navigator__button_account {
    margin: 0 0 46px;
  }
  .navigation__button {
    margin: 13px 13px 100px 0;
  }
  .navigation__link {
    padding: 0 0 7px;
    margin: 0 0 17px;
  }
}

@media screen and (max-width: 520px) {
  .navigation__conteiner {
    width: 100vw;
  }
  .navigator__block {
    width: 100vw;
  }
}
