.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0000;
  min-height: 74px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffff;
}

.header_type_landing {
    background-color: #F3C1F8;
    display: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.header_type_movies {
  display: none;
}

.header__active {
  display: flex;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  min-height: 38px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  padding: 0;
}

.header__logo {
  margin: 0 40px 0 0;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  color:black;
}

.header__link_active {
  font-weight: 500;
}

.header__link:visited {
  color: black;
}

.header__link_movies {
  margin-right: 16px;
}

.header__link_signup {
  font-weight: 500;
  margin-right: 30px;
}

.header__button {
  border: none;
  font-weight: 500;
  line-height: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.header__button:active {
  color: black
}

.header__button:visited {
  color: black
}

.header__button_type_account {
  width: 100px;
  height: 32px;
  border-radius: 20px; 
  font-size: 14px;
  transition: background-color 0.3s;
}

.header__button_overflow {
   background: #F9F9F9;
   width: 100px;
   height: 32px;
   border-radius: 20px; 
}

.header__button_type_account:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.header__button_type_signin {
  width: 76px;
  height: 32px;
  background: #000000;
  color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #00000060;
  border-radius: 3px;  
  font-size: 12px;
  transition: background-color 0.3s, color  0.3s;
}

.header__button_type_signin:visited {
  color:white;
}

.header__button_type_signin:hover {
  background-color: #d0a6d3;
  color:#000000;
  cursor: pointer;
}

.header__button_type_navigator {
  width: 44px;
  height: 44px;
  background: url(../../images/navigator_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  right: 30px;
  top: 15px;
  transition: transform 0.4s;
}

.header__button_type_navigator:hover {
  transform: rotate(180deg) scale(1.15);
  cursor: pointer;
}

.header__button_type_landing {
  width: 100px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #00000060;
  border-radius: 20px; 
  font-size: 14px;
  transition: background-color 0.3s;
}

.header__button_type_landing:hover {
  background: #d0a6d3;
  cursor: pointer;
}


@media screen and (max-width: 1023px) {
  .header {
    padding: 0 30px;
  }
  .header__link_movies {
    display: none;
  }
  .header__link_saved {
    display: none;
  }
  .header__button_type_account {
    display: none;
  }
  .header__button_type_navigator {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 14px;
  }
  .header__link {
    font-size: 10px;
  }
  .header__link_signup {
    margin-right: 14px;
  }
  .header__button_type_signin {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
}

@media screen and (max-width: 540px) {
  .header__button_type_navigator {
    width: 40px;
    height: 43px;
  }
  .header__button_type_navigator {
    right: 14px;
  }
}