.footer {
  padding: 79px 70px 0;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer__content {
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  margin: 0 0 20px;
  padding: 0;
}

.footer__conteiner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__text_year {
  color: #000000;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 0 20px;
  padding: 0; 
  color:black;
}

.footer__link:first-child {
  margin: 0;
}

.footer__link:active {
  color: black;
}

.footer__link:visited {
  color: black;
}

.footer__enabled {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 10px 0;
  }
  .footer__content {
    margin-bottom: 30px;
  }
  .footer__conteiner {
    flex-direction: column-reverse;
    align-items: center;

  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 30px;
    padding: 0; 
  }
  .footer__link:first-child {
    margin: 0 0 12px;;
  }
  .footer__text_year {
    color: #A0A0A0;
    margin-bottom: 10px;
  }
}